---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not found" description="Page not found">
  <section class="hero is-fullheight has-background-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">404</h1>
        <h2 class="subtitle">Page not found</h2>
        <p>The page you are looking for doesn't exist.</p>
        <a href="/" class="button is-primary">Go Home</a>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @import '../stylesheets/global.scss';
</style>