---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coming soon...">
  <section class="min-h-screen bg-craftbytes-blue-light flex items-center justify-center">
    <div class="text-center">
      <img 
        src="/cb-logo-type.png"
        alt="Craftbytes logo" 
        class="max-w-lg mx-auto block"
      />
    </div>
  </section>
</Layout>