---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coming soon...">
  <section class="hero is-fullheight has-background-blue">
    <header class="hero-body columns is-desktop is-vcentered">
      <div class="is-overlay has-text-centered single-spaced" style="top: 45%;">
        <img 
          src="/cb-logo-type.png"
          alt="Craftbytes logo" 
          style="max-width: 512px; margin: 0 auto; display: block;"
        />
      </div>
    </header>
  </section>
</Layout>

<style lang="scss">
  @import '../stylesheets/global.scss';
</style>