/* Coolors Exported Palette - coolors.co/0d465e-ff6b6b-1a536b-154356-dfbbb1 */

/* RGB */
$blue: rgba(13, 70, 94, 1);
$red: rgba(255, 107, 107, 1);
$blue-light: rgba(26, 83, 107, 1);
$blue-alt: rgba(21, 67, 86, 1);

$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
